{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Star Technologies</title> 

<!--   fontawesome icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
  
  <!-- Bootstrap CSS & Icons --> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!--   Boxicons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!--   Animation CSS -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
  
<!--   own CSS styling -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/animation.css' %}">
</head>

<body>
 
 <!-- <marquee behavior="" direction="left">Highlights: Sharp's Newly Launched Printer -: Sharp BP-20M22 A3 Multifunctional Printer<img src="{% static 'img/lohith.gif' %}" alt="" width="3%" height="3%"> </marquee> -->
  
 <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-custom py-3 sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="logo fadeindown" src="{% static 'img/main/starlogo.png' %}" alt="logo" width="30%" height="25%">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto fadeindown">
          <li class="nav-item">
            <a class="nav-link" href="#aboutus">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#products">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">SERVICES</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#contacts">CONTACT</a> -->
            <a class="nav-link" href="#contacts" id="">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Main -->
  <div class="main vh-100 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <h1 class="display-4 text-white bounce-in-right">Ability, Agility and Versatality</h1>
          <p class="text-white my-3 fadeinup">"Advance with cutting-edge products and innovative business solutions. Let us take care of your office automation, so you can focus on efficiently managing your customers."</p>
          <a href="#aboutus" class="btn me-2 btn-primary fadeinup">Read More</a>
          <!-- <a href="#" class="btn fadeinup">Contact Us</a> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Main End -->

  <!-- About -->
  <section class="row w-100" id="aboutus">
    <div class="col-lg-7 col-md-3 col-sm-4  col-img" style="margin-left: 50px;"></div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <div class="container">
        <div class="row" data-aos="flip-up">
          <div class=" offset-md-1 ">
            <h1>About Us</h1>
          <div>
            <p>Star Technologies started in March 2018 as a proprietor ship company at Bangalore, to cater all office automation and IT Hardware products with a mission. " We manage your office automation needs, so that you can manage your customers efficiently".</p>
            <p>Star Technologies was started with well experienced people from similar industry. Started at Bangalore Sales & Service initially and later expanded to major parts of Karnataka with support of partners.</p>
            <p>Behind our successful growth, we have strong, efficient and dedicated team, which can design an optimal and cost effective solutions on products We are now at MYSORE also with Office having dedicated sales & Service team to cater more customers at Mysore.</p>
          </div>
          </div>
        </div>
      </div>
    </div>
   </section>
   <!-- About End -->

  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 mx-auto text-center">
          <!-- <h6 class="text-primary">SERVICES</h6> -->
          <h1>Our Services</h1>
          <p>We want to be your one stop solutions providers. We Provide</p>
        </div>
      </div>
      <div class="row g-4" data-aos="slide-up">
        <div class="col-lg-4 col-sm-6">
          <div class="service card-effect">
            <div class="iconbox">
              <i class='bx bxs-analyse'></i>
            </div>
            <h5 class="mt-4 mb-2">Office Automation Solution</h5>
            <p>We provide pay per print aintenance/Asset buyback schemes/Pay per print monthly subscription schemes for
              Corporates.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service card-effect">
            <div class="iconbox">
              <i class='bx bx-slideshow'></i>
            </div>
            <h5 class="mt-4 mb-2">Board Room Solution</h5>
            <p>We provide complete end to end solutions with the integrated hardware and accessories with relevant
              solutions for board room setup.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service card-effect">
            <div class="iconbox">
              <i class='bx bx-speaker'></i>
            </div>
            <h5 class="mt-4 mb-2">Home Theater Solution</h5>
            <p>We provide complete home theatre solutions with the integrated hardware and accessories for better
              picture quality and sound output.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="slide-up">
          <div class="service card-effect">
            <div class="iconbox">
              <i class='bx bx-chalkboard' ></i>
            </div>
            <h5 class="mt-4 mb-2">Class Room solutions</h5>
            <p>We provide pay per print maintenance/Asset buyback schemes/Pay per print monthly subscription schemes for
              Corporates</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="slide-up">
          <div class="service card-effect">
            <div class="iconbox">
              <i class='bx bx-network-chart'></i>
            </div>
            <h5 class="mt-4 mb-2">Our Sales & Service Network</h5>
            <p>Bangalore, Hubli, Davangere, Hassan, Shimogga, Mangalore, Mysore,
              Chitradurga, Tumkur, Kalburgi ( Gulbarga), Bellari.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6" data-aos="slide-up">
          <div class="service card-effect" style="padding: 32px;">
            <div class="iconbox">
              <i class='bx bx-user' ></i>
            </div>
            <h5 class="mt-4 mb-2">We Serve all customers</h5>
            <p>SMB Business, Corporates, Government & PSU,
              Education Institutions.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
   <!-- Services End -->

   <!-- Products -->
   <section id="products">
    <div class="container d-flex">
      <div class="row" data-aos="slide-up">
        <div class="col-md-8 mx-auto text-center">
          <!-- <h6 class="text-primary">PRODUCTS</h6> -->
          <h1>Our Products</h1>
          <p>At Star Technologies, We provide Smarter Business Solutions to make Office Automation.
        </div>
        <div class="row g-1">
          <div class="col-lg-3 col-sm-6">
            <div class="card" style="width: 20rem;">
              <img src="{% static 'img/products/bp50c.jpg' %}" class="card-img-top px-3 py-0" alt="digital_copiers">
              <div class="card-body">
                <h5 class="card-title">MULTIFUNCTION PRINTERS & DIGITAL COPIERS</h5>
                <p class="card-text">Range of products Mono & Color printers</p>
                <ul>
                  <li>Desktop Printer</li>
                  <li>Business Printers</li>
                  <li style="padding-bottom: 43%;">Production Printers</li>
                </ul>
                <a href="{% url 'products-view' %}" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
          <div class="card" style="width: 20rem;">
            <img src="{% static 'img/products/inter.jpg' %}" class="card-img-top px-3 py-3" alt="display_panels">
            <div class="card-body">
              <h5 class="card-title">DISPLAY PANELS / VIDEO WALLS</h5>
              <p class="card-text">Interactive Display, Whiteboards for your</p>
              <ul>
                <li>Class,Meeting,Board,Demo & Traning Rooms</li>
                <li>Display of Products</li>
                <li>Information at your Reception Area</li>
                <li>Display Shopping Malls / Shops</li>
                <li>Advertisements</li>
              </ul>
              <p class="card-text">Wide range from 32" to 90" inches Displays</p>
              <a href="{% url 'products-view' %}" class="btn btn-primary">Read More</a>
            </div>
          </div>
          </div>
          <div class="col-lg-3 col-sm-6">
          <div class="card" style="width: 20rem;">
            <img src="{% static 'img/products/projectors.png' %}" class="card-img-top px-3 py-3" alt="led_wall">
            <div class="card-body">
              <h5 class="card-title">PROJECTORS</h5>
              <p class="card-text">Wide range of projectors suitable for</p>
              <ul>
                <li>Conference hall</li>
                <li>Classroom</li>
                <li>Portable projectors for business meetings</li>
                <li style="padding-bottom: 48%;">HD projectors for Home theaters</li>
              </ul>
              <a href="{% url 'products-view' %}" class="btn btn-primary">Read More</a>
            </div>
          </div> 
          </div> 
          <div class="col-lg-3 col-sm-6">
            <div class="card" style="width: 20rem;">
              <img src="{% static 'img/products/others.png' %}" class="card-img-top px-3 py-3" alt="led_wall">
              <div class="card-body">
                <h5 class="card-title" style="padding-bottom: 2px;">OTHER PRODUCTS</h5>
                <h6>1. SCANNERS</h6>
                <ul>
                  <li>Wide Range of scanners for business solution for digitize, organize, retrieve and share information digitally</li>
                </ul>
                <h6>2. MOUNTS AND TROLLEYS</h6>
                <ul>
                  <li>Stand / Mounts for Display Panel, Projector and Home THeaters system</li>
                  <li style="padding-bottom: 30%;">Trolley stand for Photocopier / Printers Home Theaters</li>
                </ul>
                <a href="{% url 'products-view' %}" class="btn btn-primary">Read More</a>
              </div>
            </div> 
            </div> 
      </div>
    </div>
    </div>
  </section>
  <!-- Products End -->
  
   <!-- Our Partners -->
    <section class="row w-100" style="padding-top: 30px;">
      <div>
        <h1 class="text-center">Our Partners</h1>
        <p class="text-center">We are proud to be asociated with best of the brands to create niche products for your requirements.</p>
      </div>
      <div class="partners-container" style="background-color: #c1e2f7">
        <div class="partners-wrapper" style="background-color: #c1e2f7">
            <div class="partner">
                <img src="{% static 'img/partners/sharp-logo.png' %}" alt="Partner 1">
            </div>
            <div class="partner">
                <img src="{% static 'img/partners/panasonic-logo.png' %}" alt="Partner 2">
            </div>
            <div class="partner">
                <img src="{% static 'img/partners/peopelink-logo.png' %}" alt="Partner 3">
            </div>
            <div class="partner">
              <img src="{% static 'img/partners/ceeco_logo.png' %}" alt="Partner 4">
          </div>
          <div class="partner">
            <img src="{% static 'img/partners/fujitsu-logo.png' %}" alt="Partner 5">
        </div>
        <div class="partner">
          <img src="{% static 'img/partners/kyocera-logo.png' %}" alt="Partner 6">
      </div>
      <div class="partner">
        <img src="{% static 'img/partners/lg-Logo.png' %}" alt="Partner 7">
    </div>
    <div class="partner">
      <img src="{% static 'img/partners/philips-smart-logo.jpg' %}" alt="Partner 8">
  </div>
<!-- same slides doubled (duplicate)-->

  <div class="partner">
    <img src="{% static 'img/partners/sharp-logo.png' %}" alt="Partner 1">
</div>
<div class="partner">
    <img src="{% static 'img/partners/panasonic-logo.png' %}" alt="Partner 2">
</div>
<div class="partner">
    <img src="{% static 'img/partners/peopelink-logo.png' %}" alt="Partner 3">
</div>
<div class="partner">
  <img src="{% static 'img/partners/ceeco_logo.png' %}" alt="Partner 4">
</div>
<div class="partner">
<img src="{% static 'img/partners/fujitsu-logo.png' %}" alt="Partner 5">
</div>
<div class="partner">
<img src="{% static 'img/partners/kyocera-logo.png' %}" alt="Partner 6">
</div>
<div class="partner">
<img src="{% static 'img/partners/lg-logo.png' %}" alt="Partner 7">
</div>
<div class="partner">
<img src="{% static 'img/partners/philips-smart-logo.jpg' %}" alt="Partner 8">
</div>
            <!-- Add more partner divs as needed -->
    </div>
    </div>
    </section>
 <!-- Our Partners End-->

 <!-- Our Clients -->
<section class="row w-100" style="padding-top: 30px;">
      <div>
        <h1 class="text-center">Our Clients</h1>
        <p class="text-center">Some of our esteemed clients.</p>
      </div>
      <div class="partners-container" style="background-color: #c1e2f7">
        <div class="partners-wrapper" style="background-color: #c1e2f7">
            <div class="partner">
                <img src="{% static 'img/clients/abb-logo.png' %}" alt="clients 1">
            </div>
            <div class="partner">
                <img src="{% static 'img/clients/auto-logo.png' %}" alt="clients 2">
            </div>
            <div class="partner">
                <img src="{% static 'img/clients/bel_logo.png' %}" alt="clients 3">
            </div>
            <div class="partner">
              <img src="{% static 'img/clients/bkglogo.webp' %}" alt="clients 4">
          </div>
          <div class="partner">
            <img src="{% static 'img/clients/hal-logo.png' %}" alt="clients 5">
        </div>
        <div class="partner">
          <img src="{% static 'img/clients/idec-logo.png' %}" alt="clients 6">
      </div>
      <div class="partner">
        <img src="{% static 'img/clients/iisc.png' %}" alt="clients 7">
    </div>
    <div class="partner">
      <img src="{% static 'img/clients/jain-logo.png' %}" alt="clients 8">
  </div>
  <div class="partner">
    <img src="{% static 'img/clients/kaynes-logo2.png' %}" alt="clients 9">
</div>
<div class="partner">
  <img src="{% static 'img/clients/leela-logo.png' %}" alt="clients 10">
</div>
<div class="partner">
  <img src="{% static 'img/clients/lt-logo.jpg' %}" alt="clients 11">
</div>
<div class="partner">
  <img src="{% static 'img/clients/muda-logo.jpg' %}" alt="clients 12">
</div>
<div class="partner">
  <img src="{% static 'img/clients/sbi-logo.png' %}" alt="clients 13">
</div>
<div class="partner">
  <img src="{% static 'img/clients/taj-logo.png' %}" alt="clients 14">
</div>
<div class="partner">
  <img src="{% static 'img/clients/triton-logo.png' %}" alt="clients 15">
</div>
<div class="partner">
  <img src="{% static 'img/clients/yokogawa-logo.png' %}" alt="clients 16">
</div>
  <!-- Add more partner divs as needed -->
        </div>
    </div>
    </section>
 <!-- Our Clients End -->

 <!-- Contacts -->
<section id="contacts">
  <div class="container mt-5 shadow">
    <div class="row">
      <div class="col-md-4 p-5 order-sm-first order-last" style="background-color: #74c4f7;">
        <h2 style="color: black">Contact Us</h2>
        <div class="d-flex mt-2">
          <i class="bi bi-geo-alt"></i>&nbsp;
          <strong style="color: rgb(54, 50, 50);">Address:&nbsp;&nbsp;</strong>
          <p style="color: rgb(54, 50, 50);"><u>Head Office:</u> No.2, Sri Kamala, 60 Ft Rd, 11th Cross, Papareddipalya, Annapurneshwari Nagar, Bengaluru - 560091. <br> <u>Branch Office:</u> No. 1375, N.S. Road, Devaraj Mohalla, Shivrampet, Mysuru – 570001.</p>
        </div>
        <div class="d-flex mt-2">
          <i class="bi bi-phone"></i>&nbsp;
          <strong style="color: rgb(54, 50, 50);">Mobile:&nbsp;&nbsp;</strong>
          <p style="color: rgb(54, 50, 50);">9980656633 & 9108483770</p>
        </div>

        <div class="d-flex mt-2">
          <i class="bi bi-envelope"></i>&nbsp;
          <strong style="color: rgb(54, 50, 50);">Email:&nbsp;&nbsp;</strong>
          <p style="color: rgb(54, 50, 50);">sales@startech-oa.com, mysales@startech-oa.com, service@startech-oa.com & myservice@startech-oa.com</p>
        </div>

        <div class="d-flex mt-2">
          <i class="bi bi-globe"></i>&nbsp;
          <strong style="color: rgb(54, 50, 50);">Website:&nbsp;&nbsp;</strong>
          <p style="color: rgb(54, 50, 50);">www.startechnologies.com</p>
        </div>
        
      </div>
      <div class="col-md-8 p-5">
    
        <p>Any Queries ? Please leave a Message!</p>
         <!-- Display Bootstrap alerts for messages -->
         {% if messages %}
         <div class="alert-container">
             {% for message in messages %}
                 <div class="alert alert-{{ message.tags }}  alert-custom-large alert-dismissible fade show" role="alert">
                     {{ message }}
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                 </div>
             {% endfor %}
         </div>
       {% endif %}
        <form class="row g-3 contactForm mt-4" method="POST">
          {% csrf_token %} 
          <div class="col-md-6">
            <label for="nameInput" class="form-label">Name</label>
            <input class="form-control" name="cname" type="text" placeholder="" required>
          </div>
          <div class="col-md-6">
            <label for="emailInput" class="form-label">Email</label>
            <input type="email" class="form-control" name="cemail" id="emailInput" placeholder="" required>
          </div>
          <div class="col-md-6">
            <label for="subjectInput" class="form-label">Phone</label>
            <input class="form-control" type="text" name="cphone" id="subjectInput" placeholder="" required>
          </div>
            <div class="col-md-6">
              <label for="subjectInput" class="form-label">Subject</label>
              <input class="form-control" type="text" name="csubject" id="subjectInput" placeholder="" required>
            </div>
            <div class="col-md-12 mb-3">
              <label for="messageTextarea" class="form-label">Message</label>
              <textarea class="form-control" id="messageTextarea" name="cmessage" rows="4" placeholder="" required></textarea>
            </div>
            <div>
            <button type="submit" class="btn " style="background-color: rgb(43, 138, 246);">Send Query</button>  
          </div>
        </form>  
      </div>  
    </div>
  </div>
</section>
 <!-- Contacts End -->


  <!-- Footer -->
  <footer class="my-footer" style="background-color:#74c4f7;">
    <div class="sticky-bottom">
      <hr>
      <div class="row g-4">
        <div class="col-lg-3 col-md-2 col-sm-2">
          <div class="quicklinks">
            <h3>Quick Links</h3>
            <ul class="links">
              <a href="#aboutus"><li><h6>About</h6></li></a>
              <a href="#products"> <li><h6>Products</h6></li></a> 
              <a href="#services"><li><h6>Services</h6></li></a>
              <a href="#contacts"><li><h6>Contact</h6></li></a>
            </ul>
          </div>
      </div>
        <div class="col-lg-4 col-sm-4">
          <div class="socials">
            <h4>Follow Us On<img style="height: 50px; padding-left: 10px;" src="{% static 'img/icons/social-media.png' %}" alt=""></h4>
            <ul class="sociallinks">
              <a href="https://www.facebook.com/" target="_blank"><li><img src="{% static 'img/icons/facebook.png' %}" alt=""></li></a>
              <a href="https://www.instagram.com/" target="_blank"><li><img src="{% static 'img/icons/instagram.png' %}" alt=""></li></a>
              <a href="https://x.com/" target="_blank"><li><img src="{% static 'img/icons/twitter.png' %}" alt=""></li></a>
              <a href="https://in.linkedin.com/" target="_blank"><li><img src="{% static 'img/icons/linkedin.png' %}" alt=""></li></a>
            </ul>
          </div>
      </div>
      <div class="col-lg-5 col-sm-10 glocation">
        <div>
          <h4>Location</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2311.7635411382857!2d77.50505053459986!3d12.977777467062236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d8c7073aaad%3A0x15f98f8b334ca1c7!2sStar%20Technologies!5e0!3m2!1sen!2sin!4v1726219949813!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
        <p> Copyright &copy; 2024 Designed & Developed by Star Technologies. All Rights Reserved.</p>
    </div>
  </footer>
  <!-- Footer End -->

    <!-- Your body content here -->

    {% include 'html/cookie_consent.html' %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!--For scroll animations-->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script>AOS.init();</script>
</body>
</html>
