{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Products</title>
    <!--   fontawesome icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
  
  <!-- Bootstrap CSS & Icons --> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!--   Boxicons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!--   Animation CSS -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
  
<!--   own CSS styling -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/animation.css' %}">
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-custom py-3 sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="logo fadeindown" src="{% static 'img/main/starlogo.png' %}" alt="logo" width="30%" height="25%">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto fadeindown">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index-view' %}"><i class="bi bi-house-door"></i></a>
              </li>
          <li class="nav-item">
            <a class="nav-link" href="#copiers">COPIERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#displays">DISPLAYS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projectors">PROJECTORS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#otherprods" >OTHER PRODUCTS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <!-- Navbar End -->

   <!-- copiers -->
   <section id="copiers">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="{% static 'img/partners/sharp-logo.png' %}" class="card-img-top" alt="sharp">
                    <div class="card-body">
                      <h5 class="card-title">Sharp Copier Models</h5>
                      <p class="card-text">Multifunctional Printers & Digital Copiers</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <a href="{% static 'docs/BP-20M-31-28-24-22.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;" class="card-link"><li class="list-group-item bp-20m">BP-20M-31/28/24/22<img class="comment" src="{% static 'img/partners/sharp-logo.png'%}" alt=""></li></a>
                      <a href="{% static 'docs/BP-30M-35-31-28.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">BP-30M-35/31/28<span class="comment">display this</span></li></a>
                      <a href="{% static 'docs/BP-20C-20-25 & 10C20.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">BP-20C-20/25 & 10C20<span class="comment">display this</span></li></a>
                      <a href="{% static 'docs/BP-30C25Z-BP-30C25ZT.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">BP-30C-25Z/ZT<span class="comment">display this</span></li></a>
                      <a href="{% static 'docs/BP-50C26_50C31_50C36_50C45.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">BP-50C-26/31/36/45<span class="comment">display this</span></li></a>
                    </ul>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'img/partners/ricoh_logo.png' %}" class="card-img-top" alt="ricoh" style="padding-top: 95px; padding-bottom: 40px;">
                    <div class="card-body">
                      <h5 class="card-title">Ricoh Copier Models</h5>
                      <p class="card-text">Multifunctional Printers & Digital Copiers</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <a href="{% static 'docs/PC-311W & MC-320F_merged.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">PC-311W & MC-320F<span class="comment">display this</span></li></a>
                      <a href="{% static 'docs/RICOH_P_C311W_M_C251FW-2.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">MC-251FW<span class="comment">display this</span></li></a>
                    </ul>
                  </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <img src="{% static 'img/partners/kyocera-logo.png' %}" class="card-img-top" alt="kyocera" style="padding-top: 70px; padding-bottom: 50px;">
                        <div class="card-body">
                          <h5 class="card-title">Kyocera Copier Models</h5>
                          <p class="card-text">Multifunctional Printers & Digital Copiers</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <a href="{% static 'docs/M-2040dn-2540dn-2640idw.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">M-2040dn/2540dn/2640idw<span class="comment">display this</span></li></a>
                          <a href="{% static 'docs/M8124cidn.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">M-8124cidn<span class="comment">display this</span></li></a>
                        </ul>
                      </div>
                </div>
        </div>
    </div>
    </section>
    <!-- copiers end -->

       <!-- displays -->
   <section id="displays">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 25rem;">
                    <img src="{% static 'img/partners/sharp-logo.png' %}" class="card-img-top" alt="sharp" style="padding-top: 30px; padding-bottom: 30px;">
                    <div class="card-body">
                      <h5 class="card-title">Sharp Display Panels</h5>
                      <p class="card-text">Interactive Display Panels/Video Walls</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <a href="{% static 'docs/PN-Q901_801_701_6011.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;" class="card-link"><li class="list-group-item bp-20m">PNQ-801/901<img class="comment" src="{% static 'img/partners/sharp-logo.png'%}" alt=""></li></a>
                      <a href="{% static 'docs/PNHW751.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">PN-HW751<span class="comment">display this</span></li></a>
                      <a href="{% static 'docs/PN50TC1.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">PN-50TC1<span class="comment">display this</span></li></a>
                    </ul>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 25rem;">
                    <img src="{% static 'img/partners/peopelink-logo.png' %}" class="card-img-top" alt="peopelink" style="height: 200px; width: 400px;">
                    <div class="card-body">
                      <h5 class="card-title">Peoplelink Display Panels</h5>
                      <p class="card-text">Interactive Display Panels/Video Walls</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <a href="{% static 'docs/Display-R65-2024-2.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">R-65<span class="comment">display this</span></li></a>
                      <a href="{% static 'docs/R-75-inch.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">R-75<span class="comment">display this</span></li></a>
                      <a href="{% static 'docs/display-r-series-86-inch.pdf' %}" target="_blank" onclick="window.open(this.href); return  false;"><li class="list-group-item bp-20m">R-86<span class="comment">display this</span></li></a>
                    </ul>
                  </div>
                </div>
        </div>
    </div>
    </section>
    <!-- displays end -->

      <!-- projectors -->
      <section id="projectors">
        <div class="container">
            <div class="row">
                <div class="col">
                  <div class="card" style="width: 25rem;">
                    <img src="{% static 'img/products/viewsonic-logo.png' %}" class="card-img-top" alt="viewsonic">
                    <div class="card-body">
                      <p class="card-text" style="text-align: justify; padding-bottom: 47px;"><strong>Projectors</strong> provide vibrant visuals and reliable performance, ideal for education and entertainment, with a focus on user-friendly features and versatile connectivity options.</p>
                    </div>
                    <div class="card-body">
                      <a href="{% static 'docs/viewsonic-all.pdf' %}" class="card-link" target="_blank" onclick="window.open(this.href); return  false;">View Brochure</a>
                    </div>
                  </div>
          
                </div>
                <div class="col">
                  <div class="card" style="width: 25rem;">
                    <img src="{% static 'img/products/epson-logo.png' %}" class="card-img-top" alt="epson">
                    <div class="card-body">
                      <p class="card-text" style="text-align: justify;"><strong>Projectors</strong> deliver impressive brightness and color accuracy, making them ideal for both home entertainment and business presentations, with features that enhance connectivity and ease of use.</p>
                    </div>
                    <div class="card-body">
                      <a href="{% static 'docs/epson-all.pdf' %}" class="card-link" target="_blank" onclick="window.open(this.href); return  false;">View Brochure</a>
                    </div>
                  </div>
                    </div>
                    <div class="col">
                      <div class="card" style="width: 25rem;">
                        <img src="{% static 'img/products/panasonic-logo.png' %}" class="card-img-top" alt="panasonic">
                        <div class="card-body">
                          <p class="card-text" style="text-align: justify; padding-bottom: 33px;"><strong>Projectors</strong> offer exceptional image quality, versatility for various applications, long-lasting performance, advanced features, and user-friendly design.</p>
                        </div>
                        <div class="card-body">
                          <a href="{% static 'docs/panasonic-all.pdf' %}" class="card-link" target="_blank" onclick="window.open(this.href); return  false;">View Brochure</a>
                        </div>
                      </div>
                    </div>
            </div>
            <div class="row" style="padding-top: 50px;">
              <div class="col">
                <div class="card" style="width: 25rem;">
                  <img src="{% static 'img/products/infocus-logo.png' %}" class="card-img-top" alt="infocus">
                  <div class="card-body">
                    <p class="card-text" style="text-align: justify; padding-bottom: 115px;"><strong>Projectors</strong> offer sharp image quality and reliable performance, making them suitable for both professional presentations and home use, with a range of connectivity options and easy setup.</p>
                  </div>
                  <div class="card-body">
                    <a href="{% static 'docs/infocus-all.pdf' %}" class="card-link" target="_blank" onclick="window.open(this.href); return  false;">View Brochure</a>
                  </div>
                </div>
        
              </div>
              <div class="col">
                <div class="card" style="width: 25rem;">
                  <img src="{% static 'img/products/benq-logo.png' %}" class="card-img-top" alt="benq">
                  <div class="card-body">
                    <p class="card-text" style="text-align: justify;">
                     <strong>Projectors</strong> deliver stunning image clarity and vibrant colors, ideal for home theaters and gaming, featuring innovative technology and user-friendly designs for seamless viewing experiences.</p>
                  </div>
                  <div class="card-body">
                    <a href="{% static 'docs/benq-all.pdf' %}" class="card-link" target="_blank" onclick="window.open(this.href); return  false;">View Brochure</a>
                  </div>
                </div>
                  </div>
                  <div class="col">
                    <div class="card" style="width: 25rem;">
                      <img src="{% static 'img/products/optoma-logo.png' %}" class="card-img-top" alt="optoma">
                      <div class="card-body">
                        <p class="card-text" style="text-align: justify; padding-bottom: 80px;"><strong>Projectors</strong> provide high-quality images and vibrant colors, perfect for both home cinema and professional use, with compact designs and versatile connectivity options for easy integration.</p>
                      </div>
                      <div class="card-body">
                        <a href="{% static 'docs/optoma-all.pdf' %}" class="card-link" target="_blank" onclick="window.open(this.href); return  false;">View Brochure</a>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
        </section>
        <!-- projectors end -->

           <!-- others products -->
      <section id="otherprods">
        <div class="container">
          <div class="row">
              <div class="col-sm-4">
                <div class="card" style="width: 25rem;">
                  <img src="{% static 'img/products/fujitsu-logo.jpg' %}" class="card-img-top" alt="viewsonic">
                  <div class="card-body">
                    <p class="card-text" style="text-align: justify; padding-bottom: 20px;">
                     <strong>Scanners</strong> deliver high-speed, reliable document capture with exceptional image quality, making them ideal for business and archival needs, and feature intuitive software for streamlined workflows.</p>
                  </div>
                  <div class="card-body">
                    <a href="{% static 'docs/fujitsu-all.pdf' %}" class="card-link" target="_blank" onclick="window.open(this.href); return  false;">View Brochure</a>
                  </div>
                </div>
        
              </div>
              <div class="col-sm-4">
                <div class="card" style="width: 25rem;">
                  <img src="{% static 'img/products/hp-logo.png' %}" class="card-img-top" alt="epson">
                  <div class="card-body">
                    <p class="card-text" style="text-align: justify; padding-bottom: 10px;"><strong>Scanners</strong> offer fast and efficient document scanning with high-resolution image quality, designed for both home and office use, featuring user-friendly interfaces and robust connectivity options.</p>
                  </div>
                  <div class="card-body">
                    <a href="{% static 'docs/hp-all.pdf' %}" class="card-link" target="_blank" onclick="window.open(this.href); return  false;">View Brochure</a>
                  </div>
                </div>
                  </div>
                  
          </div>
          
      </div>
        </section>
        <!-- others products end -->
 
    <!-- <center>
        <br><br>
        <h1><u>Our Products Details</u></h1>
    <img src="{% static 'img/others/work-prog2.png' %}" alt="work-prg"><br>
    <a href="{% url 'index-view' %}">Go Home</a>
    </center> -->

      <!-- Footer -->
  <footer class="my-footer" style="background-color:#74c4f7;">
    <div class="sticky-bottom">
      <hr>
      <div class="row g-4">
        <div class="col-lg-3 col-md-2 col-sm-2">
          <div class="quicklinks">
            <h3>Quick Links</h3>
            <ul class="links">
              <a href="#copiers"><li><h6>Copiers</h6></li></a>
              <a href="#displays"> <li><h6>Displays</h6></li></a> 
              <a href="#projectors"><li><h6>Projectors</h6></li></a>
              <a href="#otherprods"><li><h6>Other Products</h6></li></a>
            </ul>
          </div>
      </div>
        <div class="col-lg-4 col-sm-4">
          <div class="socials">
            <h4>Follow Us On<img style="height: 50px; padding-left: 10px;" src="{% static 'img/icons/social-media.png' %}" alt=""></h4>
            <ul class="sociallinks">
              <a href="https://www.facebook.com/" target="_blank"><li><img src="{% static 'img/icons/facebook.png' %}" alt=""></li></a>
              <a href="https://www.instagram.com/" target="_blank"><li><img src="{% static 'img/icons/instagram.png' %}" alt=""></li></a>
              <a href="https://x.com/" target="_blank"><li><img src="{% static 'img/icons/twitter.png' %}" alt=""></li></a>
              <a href="https://in.linkedin.com/" target="_blank"><li><img src="{% static 'img/icons/linkedin.png' %}" alt=""></li></a>
            </ul>
          </div>
      </div>
      <div class="col-lg-5 col-sm-10 glocation">
        <div>
          <h4>Location</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2311.7635411382857!2d77.50505053459986!3d12.977777467062236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d8c7073aaad%3A0x15f98f8b334ca1c7!2sStar%20Technologies!5e0!3m2!1sen!2sin!4v1726219949813!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
        <p> Copyright &copy; 2024 Designed & Developed by Star Technologies. All Rights Reserved.</p>
    </div>
  </footer>
  <!-- Footer End -->


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!--For scroll animations-->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script>AOS.init();</script>
</body>
</html>
