* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#fcfdd6, #d7f1ffe9, #ff6b90e9, #b5e3ffe9);
}

.gallery-container {
  text-align: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 100;
  font-style: normal;
}

p {
  font-size: 1.2em;
  color: #666;
  max-width: 600px;
  margin: auto;
}

.image-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin: 20px 0;
}

.gallery-image {
  height: 200px;
  width: 250px;
  margin-left: 30px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-content {
  max-width: 90%;
  border-radius: 10px;
}

#caption {
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }

  .prev,
  .next {
    font-size: 18px;
    padding: 8px;
  }

  #caption {
    font-size: 1em;
  }
}

/*--------------------- slide animation--------------------*/

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes right-slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.pictures-slide {
  display: inline-block;
  animation: 15s slide infinite linear;
}

.pictures-right-slide {
  display: inline-block;
  animation: 15s right-slide infinite linear;
}

.pictures {
  overflow: hidden;
  padding: 5px 0;
  white-space: nowrap;
}

.slow-down {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.slow-down-ultra {
  display: inline-block;
  animation: 40s slide infinite linear;
}

.top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: rgb(5, 5, 5);
  padding: 10px 15px;
  border: none;
  border-radius: 10px 10px 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}
.top-button:hover {
  background-color: #0056b3;
}
